{% extends 'base.html.twig' %}

{% block body %}
    <h2 style="text-align:center;">De Kuip Event</h2>
    <a href="{{ path('app_login') }}">Login</a>
    <a href="{{ path('app_register') }}">Register</a>

    <p>Na een lange strijd for de finale hebben onze Nederlanders de finale gehaalt ! Zo gaan onze Nederlanders tegen Frankrijk spelen in Italie maar dit is niet alles!</p>
    <p>De Kuip heeft besloten om dit te vieren door grote schermen in het stadion te zetten, wil jij er ook bij zijn? meld je nu aan! Maak een account en je bent gelijk ingeschreven, Vraagt niet te lang! </p>
    <br>
    <p>Dat zal plaats vinden op zondag 19 juli 2020 bij de kuip stadion, de deuren gaan om 19:00 open en de wedstrijd begin om 20:30.</p>
    <p>Ook willen wij u vragen om de regels goed door te lezen i.v.m. corona</p>
    <ul style="background-color:ghostwhite;">
        <h3 style="text-align:center;">Huis Regels:</h3>
        <li>Hou 1.5 meter afstand!</li>
        <li>wees op tijd</li>
        <li>Als mogelijk mond kap mee</li>
        <li>Als u ziek bent gelief thuis blijven!</li>
        <li>Geen wapens</li>
        <li>Geen ruzie</li>
        <li>Eigen eten mag mee</li>
    </ul>
    <br>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/266px-Flag_of_the_Netherlands.svg.png" alt="FLAG_NL" style="float: left;">
    <img src="https://media.istockphoto.com/vectors/or-versus-icon-isolated-confrontation-symbol-game-concept-letter-sign-vector-id1178429109" alt="VS" style="float: left;" height="176px" width="176px">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/266px-Flag_of_France.svg.png" alt="FLAG_FR" style="float: left;">

{% endblock %}