{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}
    <a href="https://www.termsandconditionsgenerator.com/live.php?token=buUtIJMJOVZstrXAIiLAOWzooUZ6McAE" target="_blank">Our Terms of Agreement</a>
    <br>
    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
